<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "=//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.persistance.mapper.INoticeMapper">

    <insert id="InsertNoticeInfo" parameterType="NoticeDTO">
        INSERT INTO NOTICE
        (
           NOTICE_SEQ, TITLE, NOTICE_YN, CONTENTS, USER_ID, READ_CNT,
            REG_ID, REG_DT, CHG_ID, CHG_DT
        )
        VALUES(
                      (SELECT NVL(MAX(A.NOTICE_SEQ),0)+1 FROM NOTICE A),
                      #{title}, #{notice_yn}, #{contents}, #{user_id}, 0, #{user_id}, SYSDATE, #{user_id}, SYSDATE
              )
    </insert>


</mapper>